<!-- sidebar -->
<div class="sidebar px-4 py-4 py-md-4 me-0">
  <div class="d-flex flex-column h-100">
    <a href="/admin/dashboard" class="mb-0 brand-icon">
      <span class="logo-icon">
        <i class="bi bi-bag-check-fill fs-4"></i>
      </span>
      <span class="logo-text">eBazar</span>
    </a>
    <!-- Menu: main ul -->
    <ul class="menu-list flex-grow-1 mt-3">
      <li>
        <a
          class="m-link <%= currentPage === 'dashboard' ? 'active' : '' %>"
          href="/admin/dashboard"
        >
          <i class="icofont-home fs-5"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="collapsed">
        <a
          class="m-link <%= currentPage === 'products' ? 'active' : '' %>"
          data-bs-toggle="collapse"
          data-bs-target="#menu-product"
          href="#"
        >
          <i class="icofont-truck-loaded fs-5"></i> <span>Products</span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul
          class="sub-menu collapse <%= currentPage === 'products' ? 'show' : '' %>"
          id="menu-product"
        >
          <li>
            <a class="ms-link" href="/admin/products">Product List</a>
          </li>

          <li><a class="ms-link" href="/admin/product-add">Product Add</a></li>
        </ul>
      </li>
      <li class="collapsed">
        <a
          class="m-link <%= currentPage === 'categories' ? 'active' : '' %>"
          data-bs-toggle="collapse"
          data-bs-target="#categories"
          href="#"
        >
          <i class="icofont-chart-flow fs-5"></i> <span>Categories</span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul
          class="sub-menu collapse <%= currentPage === 'categories' ? 'show' : '' %>"
          id="categories"
        >
          <li>
            <a
              class="ms-link <%= currentPage === 'categories' ? 'active' : '' %>"
              href="/admin/category"
              >Categories List</a
            >
          </li>
          <li><a class="ms-link" href="/admin/category/category-add">Category Add</a></li>
        </ul>
      </li>
      <li class="collapsed">
        <a
          class="m-link <%= currentPage === 'orders' ? 'active' : '' %>"
          data-bs-toggle="collapse"
          data-bs-target="#menu-order"
          href="#"
        >
          <i class="icofont-notepad fs-5"></i> <span>Orders</span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul
          class="sub-menu collapse <%= currentPage === 'orders' ? 'show' : '' %>"
          id="menu-order"
        >
          <li><a class="ms-link" href="/admin/order-list">Orders List</a></li>
          <li>
            <a class="ms-link" href="/admin/order-details">Order Details</a>
          </li>
          <li>
            <a class="ms-link" href="/admin/order-invoices">Order Invoices</a>
          </li>
        </ul>
      </li>
      <li class="collapsed">
        <a
          class="m-link <%= currentPage === 'customers' ? 'active' : '' %>"
          data-bs-toggle="collapse"
          data-bs-target="#customers-info"
          href="#"
        >
          <i class="icofont-funky-man fs-5"></i> <span>Customers</span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul
          class="sub-menu collapse <%= currentPage === 'customers' ? 'show' : '' %>"
          id="customers-info"
        >
          <li><a class="ms-link" href="/admin/users">Customers List</a></li>
        </ul>
      </li>
      <li class="collapsed">
        <a
          class="m-link <%= currentPage === 'promotions' ? 'active' : '' %>"
          data-bs-toggle="collapse"
          data-bs-target="#menu-sale"
          href="#"
        >
          <i class="icofont-sale-discount fs-5"></i>
          <span>Coupons</span>
          <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
        </a>
        <!-- Menu: Sub menu ul -->
        <ul
          class="sub-menu collapse <%= currentPage === 'promotions' ? 'show' : '' %>"
          id="menu-sale"
        >
          <li>
            <a class="ms-link" href="/admin/coupons-list">Coupons List</a>
          </li>
          <li><a class="ms-link" href="/admin/coupon-add">Coupons Add</a></li>
          <li><a class="ms-link" href="/admin/coupon-edit">Coupons Edit</a></li>
        </ul>
      </li>
      <li>
        <a class="m-link" href="/admin/logout"
          ><i class="icofont-logout"></i> <span>Logut</span>
          <span class="ms-auto text-end fs-5"></span
        ></a>
      </li>
    </ul>
    <!-- Menu: menu collapse btn -->
    <button type="button" class="btn btn-link sidebar-mini-btn text-light">
      <span class="ms-2"><i class="icofont-bubble-right"></i></span>
    </button>
  </div>
</div>
